
.otp-input {
    width: 60px;
    height: 60px;
    background: transparent;
    color: white;
    border: 2px solid #555;
    border-radius: 5px;
    font-size: 2.5em;
    text-transform: uppercase;
    user-select: none;
    caret-color: transparent;
    cursor: default;
    margin-inline: 5px;
    text-align: center;
    padding-top: 3px;
}

.filled {
    border: 2px solid white;
    /*animation*/
    animation: pulse 0.1s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.green {
    background-color: rgb(83, 141, 78);
    border: 2px solid rgb(83, 141, 78);
    color: white;
    animation: flip 0.5s ease-in-out;
}

.gray {
    background-color: #3a3a3c;
    border: 2px solid #3a3a3c;
    color: white;
    animation: flip 0.5s ease-in-out;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}