.MuiDateCalendar-root {
    height: 500px !important;
    max-height: 500px !important;
    width: 500px !important;
}

.MuiPickersDay-root, .MuiDayCalendar-weekDayLabel {
    margin: auto !important;
}

.MuiDayCalendar-weekDayLabel {
    color: rgba(255, 255, 255, 0.6) !important;
    font-size: 1.5rem !important;
}

.MuiPickersDay-root {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 1.5rem !important;
    border-radius: 5px !important;
}

.MuiPickersDay-root.Mui-disabled:not(.Mui-selected) {
    color: rgba(255, 255, 255, 0.38) !important;
}

.MuiDayCalendar-weekContainer {
    padding-block: 10px !important;
}

.MuiPickersSlideTransition-root {
    min-height: 350px !important;
}

.MuiPickersCalendarHeader-root {
    margin-block: 10px !important;
}

.MuiPickersDay-root.Mui-selected {
    border-radius: 5px !important;
}

.MuiDateCalendar-root {
    height: 450px !important;
}

.title-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
}

.previous-games-div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.play-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.play-div > button {
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
}

.previous-games-title {
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .MuiDateCalendar-root {
        width: 400px !important;
    }

    
    .MuiDayCalendar-weekDayLabel {
        font-size: 1.25rem !important;
    }

    .MuiPickersDay-root {
        font-size: 1.25rem !important;
    }

}